@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main { @apply
        bg-white text-black
        dark:bg-gray-900 dark:text-white
    }
    nav { @apply
        font-semibold
    }
}

@layer components {
    .primary-background { @apply 
        bg-gray-200 
        dark:bg-gray-700
    }
    .primary-button { @apply
        bg-blue-500 px-3 py-2 font-semibold text-white rounded 
        hover:bg-blue-600
        transition-all duration-300
    }
    .bordered { @apply 
        border-2 
        border-gray-500
        dark:border-gray-500
    }
    .divided-x { @apply 
        divide-x 
        divide-gray-500 
        dark:divide-gray-500
    }
    .divided-y { @apply 
        divide-y 
        divide-gray-500
        dark:divide-gray-500
    }
    .field { @apply 
        bordered p-2 rounded-lg 
        bg-gray-100 placeholder-gray-500
        dark:bg-gray-800 placeholder-gray-500
    }
    .selectable { @apply
        whitespace-nowrap
        hover:text-blue-500
    }
    .selectable-active { @apply
        text-blue-500
    }
    .link-icon { @apply
        hover:text-blue-500
    }
    .link-paragraph { @apply
        text-blue-500
        hover:underline
    }
    .link-text { @apply
        hover:underline
    }
}
